/* universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* Start of Hero Section Styling */
header {
    padding: 20px 35px;
    background-color: lightslategray;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: rgb(83, 197, 235);
    margin: 0;
    display: inline;
}

header a {
    color: rgb(83, 197, 235);
    text-decoration: none;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    text-decoration: underline;
}

.about-me {
    text-align: center;
}

.about-me h2 {
    font-size: 45px;
    color: rgb(83, 197, 235);
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid rgb(80, 136, 155);
    display: inline-block;
}

.about-me p {
    line-height: 1.7;
    color:rgb(27, 87, 105);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}

