/* universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* Start of Hero Section Styling */
header {
    padding: 20px 35px;
    background-color: lightslategray;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: rgb(83, 197, 235);
    margin: 0;
    display: inline;
}

header a {
    color: rgb(83, 197, 235);
    text-decoration: none;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    text-decoration: underline;
}

/* Hero Image */
.hero-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-space-image.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.about-me {
    text-align: center;
}

.about-me h2 {
    font-size: 45px;
    color: rgb(83, 197, 235);
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid rgb(80, 136, 155);
    display: inline-block;
}

.about-me p {
    line-height: 1.7;
    color:rgb(27, 87, 105);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}

.section-title {
    font-size: 55px;
    color: rgb(83, 197, 235);
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid rgb(80, 136, 155);
}

.primary-border {
    border-color: rgb(80, 136, 155);
}

section {
    padding: 60px;
}
/* End of Hero Styling */

/* Start of "Work" Section styling */
.work {
    text-align: center;
}

.projects {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.project {
    max-width: 800px;
    margin: 0 auto 30px auto;
    flex: 50%;
    padding: 0 4px;
}

.project img {
    margin-top: 8px;
    vertical-align: middle;
    width: 400px;
    height: 350px;
    object-fit: cover;
    opacity: 0.6;
    transition: opacity 1s ease-in-out;
}

.project img:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
}

.project-bio {
    bottom: 0;
    background: rgb(0,0,0);
    background: rgba(0, 0,0 , 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    flex: 50%;
}
/* End of "Work" Section styling */

/* Start of "Contact" Section styling */
.contact-me {
    text-align: center;
}

.contact-me a {
    font-size: 20px;
    color:rgb(83, 197, 235);
    text-decoration: underline rgb(27, 87, 105);
    padding: 10px;
}